<!DOCTYPE html>
<html lang="en">
<head>

    <title>MMA Countdown</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="games, modding, mods, mod, mod support, modio, steamworks, workshop, service, api, sdk, tool, plugin, wrapper, platform, windows, linux, mac, addons, addons,
          development, engine, unity, unreal, community, hosting, cdn">
    <meta name="description" content="Ignite a world of creativity with mod.io, a cross platform mod API and SDK for game developers.">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet">
    <link rel="shortcut icon" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/clock-220-155041.png"/>
    <link rel="icon" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/clock-220-155041.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.26/moment-timezone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.26/moment-timezone-utils.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.26/moment-timezone-with-data.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="script.js"></script>

</head>

<body id="home">
<section class="hero is-medium is-bold has-background-dark">

    <div class="hero-body">
        <div class="container">

            <h1 class="title has-text-light big-text">
                A <span class="has-text-primary">Website</span> that provides the exact <span class="has-text-primary">time</span>,
                regardless of <span class="has-text-primary">time zone</span>, of every <span class="has-text-primary">MMA Event</span>
            </h1>
            <!-- <h2 class="subtitle has-text-light">
                Primary bold subtitle
            </h2> -->


            <div class="columns mobile is-vcentered" style="text-align:center;position: relative;">
                <div class="column mobile is-one-third">
                    <div class="seperator">
                        <img class="imageSize" src="globeresize.png" alt="" />
                        <h2 class="subtitle has-text-light big-text" style="color:white;">Filter below based on preferred organizations</h2>
                    </div>
                    <div class="seperator">
                        <div class="containerCheckBoxes verticalAlign">
                            <ul class="ks-cboxtags" style="font-size:1.5em;">
                                <li><input type="checkbox" id="ufcCheckBox" value="UFC"><label for="ufcCheckBox">&nbsp;&nbsp;&nbsp;UFC&nbsp;&nbsp;&nbsp;</label></li>
                                <li><input type="checkbox" id="bellatorCheckBox" value="Bellator" checked><label for="bellatorCheckBox">Bellator</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column mobile is-one-third">
                    <div class="seperator">
                    <img class="imageSize" src="clockwhiteoutline.png" alt="" />
                    <h2 class="subtitle has-text-light big-text" style="color:white;">Choose your timezone to display events according to local time</h2>
                </div>
                <div class="seperator">
                    <div class="map big-text styled" style="font-size:1.7em;z-index:2;">

                            <select id="timeZones" style="color:white;">
                              <option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">(GMT-12:00) International Date Line West</option>
                              <option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">(GMT-11:00) Midway Island, Samoa</option>
                              <option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">(GMT-10:00) Hawaii</option>
                              <option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">(GMT-09:00) Alaska</option>
                              <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Pacific Time (US & Canada)</option>
                              <option timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Tijuana, Baja California</option>
                              <option timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" value="-7">(GMT-07:00) Arizona</option>
                              <option timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                              <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Mountain Time (US & Canada)</option>
                              <option timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Central America</option>
                              <option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Central Time (US & Canada)</option>
                              <option timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                              <option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Saskatchewan</option>
                              <option timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                              <option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Eastern Time (US & Canada)</option>
                              <option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Indiana (East)</option>
                              <option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Atlantic Time (Canada)</option>
                              <option timeZoneId="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Caracas, La Paz</option>
                              <option timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Manaus</option>
                              <option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Santiago</option>
                              <option timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" value="-3.5">(GMT-03:30) Newfoundland</option>
                              <option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Brasilia</option>
                              <option timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" value="-3">(GMT-03:00) Buenos Aires, Georgetown</option>
                              <option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Greenland</option>
                              <option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Montevideo</option>
                              <option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">(GMT-02:00) Mid-Atlantic</option>
                              <option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1">(GMT-01:00) Cape Verde Is.</option>
                              <option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">(GMT-01:00) Azores</option>
                              <option timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" value="0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
                              <option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                              <option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                              <option timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                              <option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                              <option timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                              <option timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) West Central Africa</option>
                              <option timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Amman</option>
                              <option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Athens, Bucharest, Istanbul</option>
                              <option timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Beirut</option>
                              <option timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Cairo</option>
                              <option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">(GMT+02:00) Harare, Pretoria</option>
                              <option timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                              <option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Jerusalem</option>
                              <option timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Minsk</option>
                              <option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Windhoek</option>
                              <option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                              <option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                              <option timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Nairobi</option>
                              <option timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Tbilisi</option>
                              <option timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" value="3.5">(GMT+03:30) Tehran</option>
                              <option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">(GMT+04:00) Abu Dhabi, Muscat</option>
                              <option timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Baku</option>
                              <option timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Yerevan</option>
                              <option timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" value="4.5">(GMT+04:30) Kabul</option>
                              <option timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" value="5">(GMT+05:00) Yekaterinburg</option>
                              <option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                              <option timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Sri Jayawardenapura</option>
                              <option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                              <option timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" value="5.75">(GMT+05:45) Kathmandu</option>
                              <option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6">(GMT+06:00) Almaty, Novosibirsk</option>
                              <option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">(GMT+06:00) Astana, Dhaka</option>
                              <option timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" value="6.5">(GMT+06:30) Yangon (Rangoon)</option>
                              <option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                              <option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">(GMT+07:00) Krasnoyarsk</option>
                              <option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                              <option timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Kuala Lumpur, Singapore</option>
                              <option timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                              <option timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Perth</option>
                              <option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Taipei</option>
                              <option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                              <option timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Seoul</option>
                              <option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">(GMT+09:00) Yakutsk</option>
                              <option timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Adelaide</option>
                              <option timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Darwin</option>
                              <option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Brisbane</option>
                              <option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                              <option timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Hobart</option>
                              <option timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Guam, Port Moresby</option>
                              <option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Vladivostok</option>
                              <option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                              <option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">(GMT+12:00) Auckland, Wellington</option>
                              <option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                              <option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">(GMT+13:00) Nuku'alofa</option>
                            </select>

                    </div>
                </div>
                </div>
                <div class="column mobile is-one-third">
                    <div class="seperator">
                    <img class="imageSize" src="arrows2.png" alt="" />
                    <h2 class="subtitle has-text-light big-text" style="color:white;">Select whether you wish to view upcoming events or events that have already passed</h2>
                </div>
                <div class="seperator">
                    <form class="verticalAlign">
                        <div class="radio-group">
                            <input type="radio" id="when-one" checked  name="selector"><label class="timeLabel" for="when-one">UPCOMING</label><input type="radio" id="when-two" name="selector"><label class="timeLabel" for="when-two">PAST</label>
                        </div>
                    </form>
                </div>
                </div>
            </div>



                    <!-- <form>
                        <fieldset>
                            <input type="checkbox" name="match" id="match_1" value="bacon">
                            <label for="match_1" style="pointer-events: auto;">
                                <svg class="circle" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <ellipse class="background" ry="60" rx="60" cy="62.5" cx="62.5" stroke-width="2"/>
                                        <ellipse class="foreground" ry="60" rx="60" cy="62.5" cx="62.5" stroke-width="2"/>
                                        <line class="line line1" x1="52" y1="62" x2="74" y2="62"/>
                                        <line class="line line2" x1="52" y1="62" x2="74" y2="62"/>
                                    </g>
                                </svg>
                                <div class="sign">UFC</div>
                            </label>
                        </fieldset>
                    </form>-->






        </div>
    </div>


</section>

<section class="hero is-medium is-bold">
    <div class="hero-body" style="padding-bottom:12px;margin-bottom:0;padding-top:15px;margin-top:0;">
        <div class="container">

            <div class="work__list">

                <% results.forEach(function(result, key) { %>
                <div class="columns height is-vcentered work__list-item is-mobile" style="text-align:center;position: relative;" id='hiddendiv_<%= key %>'>

                    <!-- ========================= 1st of 3 Columns ========================= -->
                    <div class="column height clockDiv" style="font-size:1.7em;text-align:center;">
                        <iframe style="display:none;" onload="someFunction(
                            '<%=result.when.month %> <%= result.when.day %>, <%= result.when.year %> <%= result.when.hour %>:<%=result.when.minute %>:00',
                            '<%= key %>'
                            )"></iframe>

                        <div class="columns is-multiline is-mobile clock verticalAlign" style="margin:0;" id="timer_<%= key %>">
                            <div class="column clockP">
                                <span id="timer-days_<%= key %>"></span>
                                <br>
                                <div class="is-one-quarter clockP time">
                                    DAY(S)
                                </div>
                            </div>
                            <div class="column is-one-quarter has-text-grey-lighter clockP">
                                <span id="timer-hours_<%= key %>"></span>
                                <br>
                                <div class="has-text-grey-lighter clockP time">
                                    HR(S)
                                </div>
                            </div>
                            <div class="column is-one-quarter has-text-grey-light clockP">
                                <span id="timer-mins_<%= key %>"></span>
                                <br>
                                <div class="has-text-grey-light clockP time">
                                    MIN(S)
                                </div>
                            </div>
                            <div class="column is-one-quarter has-text-grey clockP">
                                <span id="timer-secs_<%= key %>"></span>
                                <br>
                                <div class="has-text-grey clockP time">
                                    SEC(S)
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ========================= End of 1st Column ========================= -->

                    <!-- ========================= 2nd of 3 Columns ========================= -->
                        <!-- ========================= Only one here is displayed =========================== -->
                    <% if (result.promotion === 'Ultimate Fighting Championship') { %>
                        <div class="column height big-text is-two-fifths" style="background-size:30%;background-repeat:no-repeat;background-position:center;background-image:url('ufcLogo30.png');">
                            <div class="verticalAlign">
                            <div style="margin-bottom:;">
                                <% if (result.location.name && result.location.city && result.location.provState && result.location.country) { %>
                                    <%= result.location.name %>, <%= result.location.city %>,
                                    <%= result.location.provState %>, <%= result.location.country %>
                                <% } else if (result.location.name && result.location.city && !result.location.provState && result.location.country) { %>
                                    <%= result.location.name %>, <%= result.location.city %>, <%= result.location.country %>
                                <% } %>
                            </div>
                            <h1 class="eventTitle" style="margin-bottom:5%;margin-top:5%;">
                                <% if (result.event === result.otherName || result.otherName === undefined) { %>
                                    <%= result.name %>
                                <% } else { %>
                                    <%= result.otherName %>
                                <% } %>
                            </h1>
                            <div><%= result.title %></div>
                            </div>
                        </div>
                    <% } else if (result.promotion === 'Bellator') { %>
                        <div class="column height big-text is-two-fifths" style="background-size:30%;background-repeat:no-repeat;background-position:center;background-image:url('bellatorLogo30.png');">
                            <div class="verticalAlign">
                            <div style="margin-bottom:;">
                                <% if (result.location.name && result.location.city && result.location.provState && result.location.country) { %>
                                    <%= result.location.name %>, <%= result.location.city %>,
                                    <%= result.location.provState %>, <%= result.location.country %>
                                <% } else if (result.location.name && result.location.city && !result.location.provState && result.location.country) { %>
                                    <%= result.location.name %>, <%= result.location.city %>, <%= result.location.country %>
                                <% } %>
                            </div>
                            <h1 class="eventTitle" style="margin-bottom:5%;margin-top:5%;">
                                <% if (result.event === result.otherName || result.otherName === undefined) { %>
                                    <%= result.name %>
                                <% } else { %>
                                    <%= result.otherName %>
                                <% } %>
                            </h1>
                            <div><%= result.title %></div>
                            </div>
                        </div>
                    <% } %>

                        <!-- ============================================================================== -->

                    <!-- ========================= End of 2nd Column ========================= -->

                    <!-- ========================= 3rd of 3 Columns ========================= -->
                    <div class="column height clockRight flagRotate clockP time flag-icon-background flag-icon-<%= result.location.co %>" style="background-size:cover;font-size:1.7em;z-index:2;font-weight:600;">
                        <div class="verticalAlign textRotate">
                          <%= result.when.monthString.substring(0,3) %> <%= result.when.weekDay.substring(0,3) %> <%= result.when.day %> <%= result.when.year %> <%= result.when.hour %>:<%= result.when.minute %>:00 <%= result.when.timeZone %>
                        </div>
                    </div>
                    <!-- <div class="column height flag-icon-background flag-icon-<%= result.location.co %>"
                      style="opacity:0.4;z-index:1;height: 100%;width:30%;background-position:center;
                      position: absolute;right:0;top:0;background-repeat: no-repeat;background-size: cover;">
                    </div> -->
                    <!-- ========================= End of 3rd Column ========================= -->

                </div>


                <div id="firsthiddendiv_<%= key %>" style="display: none;text-align:center;">

                    <% if (result.fightCard !== undefined || result.fightCard !== null || result.fightCard.length > 0) { %>
                        <% for (var i = 0; i < result.fightCard.length; i++) { %>
                            <% if (result.fightCard[i].length === 4 || result.fightCard[i].length === 5) { %>
                                <div class="columns is-vcentered" style="padding-bottom:15px;">
                                    <div class="column" style="color:black;font-size:1.7em;font-family: Work Sans;font-weight:300;"><%= result.fightCard[i][1] %></div>
                                    <div class="column is-two-fifths big-text" style="background-color:gray;">

                                        <h1 class="" style="font-size:1em;color:black;font-weight:200;">
                                            <%= result.fightCard[i][0] %>
                                        </h1>


                                    </div>
                                    <div class="column big-text" style="color:black;font-size:1.7em;font-family:Nunito;font-weight:300;"><%= result.fightCard[i][3] %></div>
                                </div>

                            <% } else if (result.fightCard[i].length > 5) { %>
                            <div class="columns is-vcentered" style="padding-bottom:15px;background-color:hsl(0, 0%, 96%);">
                                <% if (result.fightCard[i][2] === 2) { %>
                                    <div class="column" style="background-color:rgba(255, 0, 0, 0.6);color:black;font-size:1.7em;font-family: Work Sans;font-weight:300;"><%= result.fightCard[i][1] %></div>

                                <% } else if (result.fightCard[i][3].includes('Draw') || result.fightCard[i][3].includes('No Contest') || result.fightCard[i][3].includes('NC')) { %>
                                    <div class="column" style="background-color:rgba(211, 211, 211, 0.6);color:black;font-size:1.7em;font-family: Work Sans;font-weight:300;"><%= result.fightCard[i][1] %></div>

                                <% } else { %>
                                    <div class="column" style="background-color:rgba(0, 200, 150, 0.6);color:black;font-size:1.7em;font-family: Work Sans;font-weight:300;"><%= result.fightCard[i][1] %></div>

                                <% } %>

                                <div class="column is-two-fifths big-text">

                                    <h1 class="" style="font-size:1em;color:black;font-weight:200;">
                                            <%= result.fightCard[i][4] %><br>
                                            <%= result.fightCard[i][0] %><br>
                                            <%= result.fightCard[i][6] %> Round <%= result.fightCard[i][5] %>
                                    </h1>

                                </div>
                                <% if (result.fightCard[i][2] === 2) { %>
                                    <div class="column big-text" style="background-color:rgba(0, 200, 150, 0.6);color:black;font-size:1.7em;font-family:Nunito;font-weight:300;"><%= result.fightCard[i][3] %></div>

                                <% } else if (result.fightCard[i][3].includes('Draw') || result.fightCard[i][3].includes('No Contest') || result.fightCard[i][3].includes('NC')) { %>
                                    <div class="column big-text" style="background-color:rgba(211, 211, 211, 0.6);color:black;font-size:1.7em;font-family: Work Sans;font-weight:300;"><%= result.fightCard[i][3] %></div>

                                <% } else { %>
                                    <div class="column big-text" style="background-color:rgba(255, 0, 0, 0.6);color:black;font-size:1.7em;font-family:Nunito;font-weight:300;"><%= result.fightCard[i][3] %></div>

                                <% } %>


                            </div>
                            <% } %>


                        <% } %>

                    <% } %>
                </div>

                <% }); %>

            </div>

        </div>
    </div>
</section>


<section class="hero is-medium" style="background:#1B1924;">
    <div class="hero-body">
        <div class="container" style="width:60%;padding-left:7.5%;">

            <div class="columns is-multiline is-mobile">
                <div class="column is-one-quarter" style="color:#F4F4F4;line-height:60%;">
                    <span style="font-size:1.7em;">MMA</span><br>
                    <span style="font-size:0.7em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Countdown</span>
                </div>
                <div class="column is-one-quarter has-text-grey">
                    <h3 style="color:#48D3D4;">Location</h3>
                </div>
                <div class="column is-one-quarter has-text-grey-light">
                    <h3 style="color:#48D3D4;">Contact</h3>
                </div>
                <div class="column is-one-quarter has-text-grey-lighter">
                    <h3 style="color:#48D3D4;">Legal</h3>
                </div>

                <div class="column is-one-quarter vertical-align-text-div" style="color:#F4F4F4;line-height:80%;">
                <div class="vertical-align-text-p">
                    <span style="font-size:0.7em;">© All Rights Reserved 2019</span><br>
                    <span style="font-size:0.7em;">MMA Countdown</span>
                </div>
                </div>
                <div class="column is-one-quarter has-text-grey">
                        <a class="underline--magical" target="_blank"
                           href="put_location_google_maps" style="text-decoration: none;color: #fff;">
                            A Student House</br>
                            Hamilton, Canada</a>
                </div>
                <div class="column is-one-quarter has-text-grey-light">
                    <a class="link" target="_blank" href="tel:XXX-XXX-XXXX" style="color:#F4F4F4;">XXX-XXX-XXXX</a> </br>
                    <a class="link" target="_blank" href="mailto:XXX@XXXXXXXX.XXX?subject=General Inquiry" style="color:#F4F4F4;">XXX@XXXXXXXX.XXX</a>
                </div>
                <div class="column is-one-quarter has-text-grey-lighter">
                    <a class="link" href="/terms-privacy" style="color:#F4F4F4;">Terms &amp; Privacy</a>
                </div>
            </div>


        </div>
    </div>
</section>


</body>
</html>
