<!DOCTYPE html>
<html lang="en">
<head>

    <title>MMA Countdown</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="games, modding, mods, mod, mod support, modio, steamworks, workshop, service, api, sdk, tool, plugin, wrapper, platform, windows, linux, mac, addons, addons, development, engine, unity, unreal, community, hosting, cdn">
    <meta name="description"
          content="Ignite a world of creativity with mod.io, a cross platform mod API and SDK for game developers.">

    <!--    <link rel="stylesheet" type="text/css" href="./style.css"  />-->
    <link rel="shortcut icon" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/clock-220-155041.png"/>
    <link rel="icon" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/clock-220-155041.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="script.js"></script>



</head>
<body id="home">
<!--<section class="hero is-medium is-bold has-background-dark-shade">-->
<section class="hero is-medium is-bold has-background-dark">

    <section class="svg-container">
        <!--        <svg class="circle" xmlns="http://www.w3.org/2000/svg">-->
        <!--            <g>-->
        <!--                <ellipse class="background" ry="60" rx="60" cy="62.5" cx="62.5" stroke-width="2"/>-->
        <!--                <ellipse class="foreground" ry="60" rx="60" cy="62.5" cx="62.5" stroke-width="2"/>-->
        <!--                <line class="line line1" x1="52" y1="62" x2="74" y2="62" />-->
        <!--                <line class="line line2" x1="52" y1="62" x2="74" y2="62" />-->
        <!--            </g>-->
        <!--        </svg>-->
    </section>
    <div class="hero-body">
        <div class="container">


            <div class="boxes" style="margin-bottom:30px;">
                <div class="columns" style="text-align:center;">


                    <div class="box" style="margin:0;padding:0;float:left;">
                        <div class="column">

                            <h3>Competitive Levels</h3>

                            <div class="columns">

                                <div class="column is-one-half">
                                    <form>
                                        <fieldset>
                                            <input type="checkbox" name="match" id="match_5" value="bacon">
                                            <label for="match_5" style="pointer-events: auto;">
                                                <svg class="circle" xmlns="http://www.w3.org/2000/svg">
                                                    <g>
                                                        <ellipse class="background" ry="60" rx="60" cy="62.5" cx="62.5"
                                                                 stroke-width="2"/>
                                                        <ellipse class="foreground" ry="60" rx="60" cy="62.5" cx="62.5"
                                                                 stroke-width="2"/>
                                                        <line class="line line1" x1="52" y1="62" x2="74" y2="62"/>
                                                        <line class="line line2" x1="52" y1="62" x2="74" y2="62"/>
                                                    </g>
                                                </svg>
                                                <div class="sign">Amateur</div>
                                            </label>
                                        </fieldset>
                                        <!--                                        <button class="form__button" type="submit">Submit your info</button>-->
                                    </form>
                                </div>
                                <div class="column is-one-half">
                                    <form>
                                        <fieldset>
                                            <input type="checkbox" name="match" id="match_8" value="bacon">
                                            <label for="match_8" style="pointer-events: auto;">
                                                <svg class="circle" xmlns="http://www.w3.org/2000/svg">
                                                    <g>
                                                        <ellipse class="background" ry="60" rx="60" cy="62.5" cx="62.5"
                                                                 stroke-width="2"/>
                                                        <ellipse class="foreground" ry="60" rx="60" cy="62.5" cx="62.5"
                                                                 stroke-width="2"/>
                                                        <line class="line line1" x1="52" y1="62" x2="74" y2="62"/>
                                                        <line class="line line2" x1="52" y1="62" x2="74" y2="62"/>
                                                    </g>
                                                </svg>
                                                <div class="sign">Professional</div>
                                            </label>
                                        </fieldset>
                                        <!--                                        <button class="form__button" type="submit">Submit your info</button>-->
                                    </form>
                                </div>


                            </div>

                        </div>

                    </div>


                    <div class="box" style="padding:0;margin-left:auto;margin-right:auto;">


                        <div class="column">

                            <h3>Organizations</h3>
                            'Currently Selected'
                            <p>This is some content for the box</p>

                        </div>

                    </div>
                    <div class="box" style="margin:0;padding:0;float:right;">
                        <div class="column">

                            <h3>Time Zone</h3>
                            'Currently Selected'
                            <p>This is some content for the box</p>

                        </div>

                    </div>


                </div>
            </div>


            <h1 class="title has-text-light big-text">
                A <span class="has-text-primary">Websitee</span> that provides the exact <span class="has-text-primary">time</span>,
                regardless of <span class="has-text-primary">time zone</span>, of every <span class="has-text-primary">MMA Event</span>
            </h1>
            <h2 class="subtitle has-text-light">
                Primary bold subtitle
            </h2>


        </div>
    </div>


</section>

<section class="hero is-medium is-bold" style="padding-bottom:0;margin-bottom:0;">

    <!--    <form>-->
    <!--        <fieldset>-->
    <!--            <input type="checkbox" name="match" id="match_4" value="bacon">-->
    <!--            <label for="match_4">-->
    <!--                <svg class="circle" xmlns="http://www.w3.org/2000/svg"><g><ellipse class="background" ry="60" rx="60" cy="62.5" cx="62.5" stroke-width="2"/><ellipse class="foreground" ry="60" rx="60" cy="62.5" cx="62.5" stroke-width="2"/><line class="line line1" x1="52" y1="62" x2="74" y2="62" />   <line class="line line2" x1="52" y1="62" x2="74" y2="62" /></g></svg>-->
    <!--            </label>-->
    <!--        </fieldset>-->
    <!--        <button class="form__button" type="submit">Submit your info</button>-->
    <!--    </form>-->


    <div class="hero-body" style="padding-bottom:12px;margin-bottom:0;padding-top:15px;margin-top:0;">
        <div class="container" style="padding-left:11px;padding-right:11px;">

            <div class="work__list">

                <% results.forEach(function(result, key) { %>

                <div class="columns is-vcentered work__list-item" style="text-align:center;" id='hiddendiv_<%= key %>'>
                    <div class="column" style="font-size:1.7em;">
                        <iframe style="display:none" onload="someFunction(
                            '<%=result.when.month %> <%= result.when.day %>, <%= result.when.year %> <%= result.when.hour %>:<%=result.when.minute %>:00',
                            '<%= key %>'
                            )"></iframe>

                        <div class="columns is-gapless is-multiline is-mobile" style="margin:0;" id="timer_<%= key %>">
                            <div class="column is-one-quarter"><span id="timer-days_<%= key %>"></span>
                            </div>
                            <div class="column is-one-quarter has-text-grey"><span id="timer-hours_<%= key %>"></span>
                            </div>
                            <div class="column is-one-quarter has-text-grey-light"><span
                                    id="timer-mins_<%= key %>"></span>
                            </div>
                            <div class="column is-one-quarter has-text-grey-lighter"><span
                                    id="timer-secs_<%= key %>"></span>
                            </div>

                            <div class="column is-one-quarter">DAY(S)
                            </div>
                            <div class="column is-one-quarter has-text-grey">HR(S)
                            </div>
                            <div class="column is-one-quarter has-text-grey-light">MIN(S)
                            </div>
                            <div class="column is-one-quarter has-text-grey-lighter">SEC(S)
                            </div>
                        </div>
                        <!--                            <p id="timer_<%= key %>" style="font-size:20px;">-->
                        <!--                                <span id="timer-days_<%= key %>"></span>-->
                        <!--                                <span id="timer-hours_<%= key %>"></span>-->
                        <!--                                <span id="timer-mins_<%= key %>"></span>-->
                        <!--                                <span id="timer-secs_<%= key %>"></span>-->
                        <!--                            </p>-->
                    </div>
                    <div class="column big-text is-two-fifths">
                        <!-- Add here the class to make effects on single column -->
                        <div class="" style="margin-bottom:20px;"><%= result.location.name %>, <%= result.location.city
                            %>, <%= result.location.provState %>, <%= result.location.country %>
                        </div>
                        <h1 style="margin-bottom:20px;font-size:2em;"><%=
                            result.name %></h1>
                        <div class=""><%= result.title %></div>
                    </div>
                    <div class="column" style="font-size:1.7em;"><%= result.when.weekDay %> <%=
                        result.when.monthString %>
                        <%= result.when.day %>, <%= result.when.hour %>:<%= result.when.minute %><%=
                        result.when.AMPM %> <%= result.when.timeZone %>
                    </div>
                </div>


                <div id="firsthiddendiv_<%= key %>" style="height:100px;background-color:red;display: none;">
                    <%= result.fightCard %>
                </div>

                <% }); %>

            </div>



        </div>
    </div>
</section>


<section class="hero is-medium" style="background:#1B1924;">
    <div class="hero-body">
        <div class="container" style="width:60%;padding-left:7.5%;">

            <div class="columns is-multiline is-mobile">
                <div class="column is-one-quarter" style="color:#F4F4F4;line-height:60%;">
                    <span style="font-size:1.7em;">MMA</span><br>
                    <span style="font-size:0.7em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Countdown</span>
                </div>
                <div class="column is-one-quarter has-text-grey">
                    <h3 style="color:#48D3D4;">Location</h3>
                </div>
                <div class="column is-one-quarter has-text-grey-light">
                    <h3 style="color:#48D3D4;">Contact</h3>
                </div>
                <div class="column is-one-quarter has-text-grey-lighter">
                    <h3 style="color:#48D3D4;">Legal</h3>
                </div>

                <div class="column is-one-quarter vertical-align-text-div" style="color:#F4F4F4;line-height:80%;">
                <div class="vertical-align-text-p">
                    <span style="font-size:0.7em;">© All Rights Reserved 2019</span><br>
                    <span style="font-size:0.7em;">MMA Countdown</span>
                </div>
                </div>
                <div class="column is-one-quarter has-text-grey">
                        <a class="underline--magical" target="_blank"
                           href="put_location_google_maps" style="text-decoration: none;color: #fff;">
                            A Student House</br>
                            Hamilton, Canada</a>
                </div>
                <div class="column is-one-quarter has-text-grey-light">
                    <a class="link" target="_blank" href="tel:XXX-XXX-XXXX" style="color:#F4F4F4;">XXX-XXX-XXXX</a> </br>
                    <a class="link" target="_blank" href="mailto:XXX@XXXXXXXX.XXX?subject=General Inquiry" style="color:#F4F4F4;">XXX@XXXXXXXX.XXX</a>
                </div>
                <div class="column is-one-quarter has-text-grey-lighter">
                    <a class="link" href="/terms-privacy" style="color:#F4F4F4;">Terms &amp; Privacy</a>
                </div>
            </div>


        </div>
    </div>
</section>


</body>
</html>