<!DOCTYPE html>
<html lang="en">
<head>

    <title>MMA Countdown</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="games, modding, mods, mod, mod support, modio, steamworks, workshop, service, api, sdk, tool, plugin, wrapper, platform, windows, linux, mac, addons, addons, development, engine, unity, unreal, community, hosting, cdn">
    <meta name="description"
          content="Ignite a world of creativity with mod.io, a cross platform mod API and SDK for game developers.">

    <!--    <link rel="stylesheet" type="text/css" href="./style.css"  />-->
    <link rel="shortcut icon" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/clock-220-155041.png"/>
    <link rel="icon" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/clock-220-155041.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="script.js"></script>
    <!--    <script type="text/javascript" src="/dist/js/lib/modernizr.min.js"></script>-->

    <style>
        .has-background-dark-shade {
            background-color:#1D1D2B;
        }

        .vertical-align-text-div {
            position:relative;
        }

        .vertical-align-text-p {
            margin: 0;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }

        .big-text {
            font-family:'Work Sans';
            font-weight:400;
        }

        .full-column {
            width:100%;
        }



.work__list-item {
transform:translateY(0);
color:black!important;
padding:18px 0% 20px;
border-bottom:1px solid #dadada;
box-shadow:0 0 0 rgba(93,93,93,.16);
background:linear-gradient(#fbfbfb,#fbfbfb);
transition:all .3s ease!important;
}
.work__list-item .work__list-item--first{
border-top:1px solid #dadada
}
.work__list-item:active,.work__list-item:focus,
.work__list-item:hover{
transform:translateY(-3px);
border-color:transparent;
box-shadow:0 1px 6px rgba(93,93,93,.16);
background:linear-gradient(90deg,#2fe0c5,#3bdcc4,#2fe0c5);
//background:hsl(0, 0%, 35%);
color:#fff!important;
}
.work__list-item:active .work-detail,.work__list-item:active .work-title,.work__list-item:focus .work-detail,.work__list-item:focus .work-title,.work__list-item:hover .work-detail,.work__list-item:hover .work-title{
color:#fff!important;
}.work__list-item-link{
display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;max-width:1400px;margin-right:auto;margin-left:auto
}







.boxes {
  text-align: center;
  position: relative;
  width: 100%;
  margin: -200px 0;
}
.boxes .box {
border:1px solid hsl(0, 0%, 40%);
  display: block;
  float: left;
  position: relative;
  width: 29%;
  height: 450px;
  text-align: center;
  border-collapse: collapse;
  text-decoration: none;
  color: black;
  background: #222;
  margin: 0 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.boxes .box h3 {
  transition: all 1s;
  padding-top: 50px;
  padding-bottom: 60px;
  margin: 0;
  color:hsl(0, 0%, 96%);
  font-size: 2em;
  text-transform: uppercase;
}
.boxes .box i {
  transition: all 1s;
  font-size: 4em;
}
.boxes .box p {
  color:hsl(0, 0%, 96%);
  transition: all 1s;
  margin-top: 70px;
}



.boxes .box:before {
  transition: all 1s;
  content: "";
  width: 100%;
  height: 50%;
  left: 50%;
  margin-left: -50%;
  top: 25%;
  border-color: rgba(200, 200, 200, 0);
  border-style: solid;
  border-width: 0 1px;
}
.boxes .box:after {
  transition: all 1s;
<!--  position: absolute;-->
  content: "";
  width: 50%;
  height: 100%;
  left: 50%;
  margin-left: -25%;
  top: 0;
  border-color: white;
  border-style: solid;
  border-width: 1px 0;
}
.boxes .box:hover {
border:1px solid hsl(0, 0%, 90%);
  width:42%;
  height:500px;
  color: #4099ff;
}
.boxes .box:hover h3 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.boxes .box:hover p {
  margin-top: 30px;
}
.boxes .box:hover:after {
  width: 402px;
  margin-left: -50%;
  border-color: rgba(90, 90, 90, 1);
}

<!--@media screen and (max-width: 1024px) {-->
<!--    .countdownMonitorDisplay {-->
<!--        display: none !important;-->
<!--    }-->
<!--}-->
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900');
/* Font from Google fonts */
/* Basic styles */
.circleDiv {
  align-items: center;
  background: #222;
  display: flex;
  justify-content: center;
}
.svg-container {
  height: 124px;
  position: relative;
  width: 124px;
}
.svg-container h1 {
  color: #aaa;
  font-family: "Source Sans Pro";
  font-size: 1.2rem;
  left: 50%;
  letter-spacing: 4px;
  position: absolute;
  text-align: center;
  top: -60px;
  transform: translateX(-50%);
  width: 100%;
}
.circle {
  height: 124px;
  width: 124px;
  opacity: 0.6;
  transition: all 200ms ease;
}
.circle .background {
  fill: transparent;
  stroke: #1abc9c;
  transition: all 200ms ease;
}
.circle .foreground {
  fill: transparent;
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
  stroke: #ee3769;
  transform-origin: 50% 50%;
  transform: rotate(-270deg);
  transition: all 800ms ease;
}
.circle .line {
  stroke-width: 2;
  stroke: #1abc9c;
  transform-origin: 50% 50%;
  transition: all 500ms ease;
}
.circle .line2 {
  transform: rotate(-90deg);
}
.circle:hover {
  opacity: 1;
  cursor: pointer
}
/* Form Styles */
label {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.form__button {
  height: 40px;
  border: none;
  background-color: green;
  color: white;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0 20px;
  border-radius: 20px;
  font-weight: 900;
  cursor: pointer;
  margin: 20px 0;
  transition: all 0.25s ease-in-out;
}
.form__button:hover, .form__button:focus {
  background-color: dark-green;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  outline: none;
}
/* Input style */
input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}
input[type="checkbox"]:active ~ label {
  opacity: 1;
}
input[type="checkbox"]:checked ~ label {
  opacity: 1;
  cursor: pointer;
}
input[type="checkbox"]:checked ~ label .background {
  stroke: transparent;
}
input[type="checkbox"]:checked ~ label .foreground {
  stroke-dashoffset: 0;
  transform: rotate(-90deg);
}
input[type="checkbox"]:checked ~ label .line {
  stroke: #ee3769;
}
input[type="checkbox"]:checked ~ label .line {
  transform: rotate(180deg);
}
input[type="checkbox"]:checked ~ label .line2 {
  transform: rotate(0);
}
.sign {
    color: #aaa;
    font-family: "Source Sans Pro";
    font-size: 1.2rem;
    text-align: center;
}

button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px #f45e61;
  color: #f45e61;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
button::before, button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw {
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #60daaa;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.link{
  position: relative;
}

.link:after{
  content: '';
  position: absolute;
  width: 0; height: 1px;
  display: block;
  margin-top: 0px;
  right: 0;
  background: #fff;
  transition: width .5s ease;
  -webkit-transition: width .5s ease;
}

.link:hover:after{
  width: 100%;
  left: 0;
  background: #fff;
}

.underline--magical {
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  background-size: 0% 6%;
  background-position: 0 100%;
  transition: background-size .2s ease-in;
}
.underline--magical:hover {
  background-size: 100% 6%;
}



    </style>

</head>
<body id="home">
<!--<section class="hero is-medium is-bold has-background-dark-shade">-->
<section class="hero is-medium is-bold has-background-dark">

    <section class="svg-container">
        <!--        <svg class="circle" xmlns="http://www.w3.org/2000/svg">-->
        <!--            <g>-->
        <!--                <ellipse class="background" ry="60" rx="60" cy="62.5" cx="62.5" stroke-width="2"/>-->
        <!--                <ellipse class="foreground" ry="60" rx="60" cy="62.5" cx="62.5" stroke-width="2"/>-->
        <!--                <line class="line line1" x1="52" y1="62" x2="74" y2="62" />-->
        <!--                <line class="line line2" x1="52" y1="62" x2="74" y2="62" />-->
        <!--            </g>-->
        <!--        </svg>-->
    </section>
    <div class="hero-body">
        <div class="container">


            <div class="boxes" style="margin-bottom:30px;">
                <div class="columns" style="text-align:center;">


                    <div class="box" style="margin:0;padding:0;float:left;">
                        <div class="column">

                            <h3>Competitive Levels</h3>

                            <div class="columns">

                                <div class="column is-one-half">
                                    <form>
                                        <fieldset>
                                            <input type="checkbox" name="match" id="match_5" value="bacon">
                                            <label for="match_5" style="pointer-events: auto;">
                                                <svg class="circle" xmlns="http://www.w3.org/2000/svg">
                                                    <g>
                                                        <ellipse class="background" ry="60" rx="60" cy="62.5" cx="62.5"
                                                                 stroke-width="2"/>
                                                        <ellipse class="foreground" ry="60" rx="60" cy="62.5" cx="62.5"
                                                                 stroke-width="2"/>
                                                        <line class="line line1" x1="52" y1="62" x2="74" y2="62"/>
                                                        <line class="line line2" x1="52" y1="62" x2="74" y2="62"/>
                                                    </g>
                                                </svg>
                                                <div class="sign">Amateur</div>
                                            </label>
                                        </fieldset>
                                        <!--                                        <button class="form__button" type="submit">Submit your info</button>-->
                                    </form>
                                </div>
                                <div class="column is-one-half">
                                    <form>
                                        <fieldset>
                                            <input type="checkbox" name="match" id="match_8" value="bacon">
                                            <label for="match_8" style="pointer-events: auto;">
                                                <svg class="circle" xmlns="http://www.w3.org/2000/svg">
                                                    <g>
                                                        <ellipse class="background" ry="60" rx="60" cy="62.5" cx="62.5"
                                                                 stroke-width="2"/>
                                                        <ellipse class="foreground" ry="60" rx="60" cy="62.5" cx="62.5"
                                                                 stroke-width="2"/>
                                                        <line class="line line1" x1="52" y1="62" x2="74" y2="62"/>
                                                        <line class="line line2" x1="52" y1="62" x2="74" y2="62"/>
                                                    </g>
                                                </svg>
                                                <div class="sign">Professional</div>
                                            </label>
                                        </fieldset>
                                        <!--                                        <button class="form__button" type="submit">Submit your info</button>-->
                                    </form>
                                </div>


                            </div>

                        </div>

                    </div>


                    <div class="box" style="padding:0;margin-left:auto;margin-right:auto;">


                        <div class="column">

                            <h3>Organizations</h3>
                            'Currently Selected'
                            <p>This is some content for the box</p>

                        </div>

                    </div>
                    <div class="box" style="margin:0;padding:0;float:right;">
                        <div class="column">

                            <h3>Time Zone</h3>
                            'Currently Selected'
                            <p>This is some content for the box</p>

                        </div>

                    </div>


                </div>
            </div>


            <h1 class="title has-text-light big-text">
                A <span class="has-text-primary">Websitee</span> that provides the exact <span class="has-text-primary">time</span>,
                regardless of <span class="has-text-primary">time zone</span>, of every <span class="has-text-primary">MMA Event</span>
            </h1>
            <h2 class="subtitle has-text-light">
                Primary bold subtitle
            </h2>


        </div>
    </div>


</section>

<section class="hero is-medium is-bold" style="padding-bottom:0;margin-bottom:0;">

    <!--    <form>-->
    <!--        <fieldset>-->
    <!--            <input type="checkbox" name="match" id="match_4" value="bacon">-->
    <!--            <label for="match_4">-->
    <!--                <svg class="circle" xmlns="http://www.w3.org/2000/svg"><g><ellipse class="background" ry="60" rx="60" cy="62.5" cx="62.5" stroke-width="2"/><ellipse class="foreground" ry="60" rx="60" cy="62.5" cx="62.5" stroke-width="2"/><line class="line line1" x1="52" y1="62" x2="74" y2="62" />   <line class="line line2" x1="52" y1="62" x2="74" y2="62" /></g></svg>-->
    <!--            </label>-->
    <!--        </fieldset>-->
    <!--        <button class="form__button" type="submit">Submit your info</button>-->
    <!--    </form>-->


    <div class="hero-body" style="padding-bottom:12px;margin-bottom:0;padding-top:15px;margin-top:0;">
        <div class="container" style="padding-left:11px;padding-right:11px;">

            <div class="work__list">

                <% results.forEach(function(result, key) { %>

                <div class="columns is-vcentered work__list-item" style="text-align:center;" id='firstRadio_<%= key %>'>
                    <div class="column" style="font-size:1.7em;">
                        <iframe style="display:none" onload="someFunction(
                            '<%=result.when.month %> <%= result.when.day %>, <%= result.when.year %> <%= result.when.hour %>:<%=result.when.minute %>:00',
                            '<%= key %>'
                            )"></iframe>

                        <div class="columns is-gapless is-multiline is-mobile" style="margin:0;" id="timer_<%= key %>">
                            <div class="column is-one-quarter"><span id="timer-days_<%= key %>"></span>
                            </div>
                            <div class="column is-one-quarter has-text-grey"><span id="timer-hours_<%= key %>"></span>
                            </div>
                            <div class="column is-one-quarter has-text-grey-light"><span
                                    id="timer-mins_<%= key %>"></span>
                            </div>
                            <div class="column is-one-quarter has-text-grey-lighter"><span
                                    id="timer-secs_<%= key %>"></span>
                            </div>

                            <div class="column is-one-quarter">DAY(S)
                            </div>
                            <div class="column is-one-quarter has-text-grey">HR(S)
                            </div>
                            <div class="column is-one-quarter has-text-grey-light">MIN(S)
                            </div>
                            <div class="column is-one-quarter has-text-grey-lighter">SEC(S)
                            </div>
                        </div>
                        <!--                            <p id="timer_<%= key %>" style="font-size:20px;">-->
                        <!--                                <span id="timer-days_<%= key %>"></span>-->
                        <!--                                <span id="timer-hours_<%= key %>"></span>-->
                        <!--                                <span id="timer-mins_<%= key %>"></span>-->
                        <!--                                <span id="timer-secs_<%= key %>"></span>-->
                        <!--                            </p>-->
                    </div>
                    <div class="column big-text is-two-fifths">
                        <!-- Add here the class to make effects on single column -->
                        <div class="" style="margin-bottom:20px;"><%= result.location.name %>, <%= result.location.city
                            %>, <%= result.location.provState %>, <%= result.location.country %>
                        </div>
                        <h1 style="margin-bottom:20px;font-size:2em;"><%=
                            result.name %></h1>
                        <div class=""><%= result.title %></div>
                    </div>
                    <div class="column" style="font-size:1.7em;"><%= result.when.weekDay %> <%=
                        result.when.month %>
                        <%= result.when.day %>, <%= result.when.hour %>:<%= result.when.minute %><%=
                        result.when.AMPM %> <%= result.when.timeZone %>
                    </div>
                </div>


                <div id="firstHiddenDiv_<%= key %>" style="height:100px;background-color:red;">
                </div>


                <% }); %>

            </div>



        </div>
    </div>
</section>


<section class="hero is-medium" style="background:#1B1924;">
    <div class="hero-body">
        <div class="container" style="width:60%;padding-left:7.5%;">

            <div class="columns is-multiline is-mobile">
                <div class="column is-one-quarter" style="color:#F4F4F4;line-height:60%;">
                    <span style="font-size:1.7em;">MMA</span><br>
                    <span style="font-size:0.7em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Countdown</span>
                </div>
                <div class="column is-one-quarter has-text-grey">
                    <h3 style="color:#48D3D4;">Location</h3>
                </div>
                <div class="column is-one-quarter has-text-grey-light">
                    <h3 style="color:#48D3D4;">Contact</h3>
                </div>
                <div class="column is-one-quarter has-text-grey-lighter">
                    <h3 style="color:#48D3D4;">Legal</h3>
                </div>

                <div class="column is-one-quarter vertical-align-text-div" style="color:#F4F4F4;line-height:80%;">
                <div class="vertical-align-text-p">
                    <span style="font-size:0.7em;">© All Rights Reserved 2019</span><br>
                    <span style="font-size:0.7em;">MMA Countdown</span>
                </div>
                </div>
                <div class="column is-one-quarter has-text-grey">
                        <a class="underline--magical" target="_blank"
                           href="put_location_google_maps" style="text-decoration: none;color: #fff;">
                            A Student House</br>
                            Hamilton, Canada</a>
                </div>
                <div class="column is-one-quarter has-text-grey-light">
                    <a class="link" target="_blank" href="tel:XXX-XXX-XXXX" style="color:#F4F4F4;">XXX-XXX-XXXX</a> </br>
                    <a class="link" target="_blank" href="mailto:XXX@XXXXXXXX.XXX?subject=General Inquiry" style="color:#F4F4F4;">XXX@XXXXXXXX.XXX</a>
                </div>
                <div class="column is-one-quarter has-text-grey-lighter">
                    <a class="link" href="/terms-privacy" style="color:#F4F4F4;">Terms &amp; Privacy</a>
                </div>
            </div>


        </div>
    </div>
</section>


</body>
</html>