<!DOCTYPE html>
<html lang="en">
<head>

    <title>MMA Countdown</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="games, modding, mods, mod, mod support, modio, steamworks, workshop, service, api, sdk, tool, plugin, wrapper, platform, windows, linux, mac, addons, addons, development, engine, unity, unreal, community, hosting, cdn">
    <meta name="description"
          content="Ignite a world of creativity with mod.io, a cross platform mod API and SDK for game developers.">

    <!--    <link rel="stylesheet" type="text/css" href="./style.css"  />-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet">
    <link rel="shortcut icon" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/clock-220-155041.png"/>
    <link rel="icon" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/clock-220-155041.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="script.js"></script>



</head>
<body id="home">
<!--<section class="hero is-medium is-bold has-background-dark-shade">-->
<section class="hero is-medium is-bold has-background-dark">

    <section class="svg-container">
        <!--        <svg class="circle" xmlns="http://www.w3.org/2000/svg">-->
        <!--            <g>-->
        <!--                <ellipse class="background" ry="60" rx="60" cy="62.5" cx="62.5" stroke-width="2"/>-->
        <!--                <ellipse class="foreground" ry="60" rx="60" cy="62.5" cx="62.5" stroke-width="2"/>-->
        <!--                <line class="line line1" x1="52" y1="62" x2="74" y2="62" />-->
        <!--                <line class="line line2" x1="52" y1="62" x2="74" y2="62" />-->
        <!--            </g>-->
        <!--        </svg>-->
    </section>
    <div class="hero-body">
        <div class="container">








            <div class="columns is-vcentered" style="text-align:center;overflow: hidden;position: relative;">
                <div class="column is-one-quarter">
                    <form>
                        <fieldset>
                            <input type="checkbox" name="match" id="match_1" value="bacon">
                            <label for="match_1" style="pointer-events: auto;">
                                <svg class="circle" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <ellipse class="background" ry="60" rx="60" cy="62.5" cx="62.5"
                                                 stroke-width="2"/>
                                        <ellipse class="foreground" ry="60" rx="60" cy="62.5" cx="62.5"
                                                 stroke-width="2"/>
                                        <line class="line line1" x1="52" y1="62" x2="74" y2="62"/>
                                        <line class="line line2" x1="52" y1="62" x2="74" y2="62"/>
                                    </g>
                                </svg>
                                <div class="sign" style="font-family:Work Sans; font-weight:400">UFC</div>
                            </label>
                        </fieldset>
                        <!--                                        <button class="form__button" type="submit">Submit your info</button>-->
                    </form>
                </div>


                <div class="column is-one-quarter">
                    <form>
                        <fieldset>
                            <input type="checkbox" name="match" id="match_2" value="bacon">
                            <label for="match_2" style="pointer-events: auto;">
                                <svg class="circle" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <ellipse class="background" ry="60" rx="60" cy="62.5" cx="62.5"
                                                 stroke-width="2"/>
                                        <ellipse class="foreground" ry="60" rx="60" cy="62.5" cx="62.5"
                                                 stroke-width="2"/>
                                        <line class="line line1" x1="52" y1="62" x2="74" y2="62"/>
                                        <line class="line line2" x1="52" y1="62" x2="74" y2="62"/>
                                    </g>
                                </svg>
                                <div class="sign" style="font-family:Work Sans; font-weight:400">Bellator</div>
                            </label>
                        </fieldset>
                        <!--                                        <button class="form__button" type="submit">Submit your info</button>-->
                    </form>
                </div>

            </div>

            <div class="columns is-vcentered work__list-item" style="text-align:center;overflow: hidden;position: relative;">
                <div class="column big-text">
                    <div class="" style="margin-bottom:20px;">
                        Hello
                    </div>
                    <h1 style="margin-bottom:20px;font-size:2em;">
                        Goodbye
                    </h1>
                    <div class=""></div>
                </div>
                  <div class="column flag-icon-background flag-icon-al"
                    style="opacity:0.2;z-index:-1;height: 100%;width:50%;
                    position: absolute;right:50%;top:0;background-size:30%;background-repeat:no-repeat;
                    background-position:center;background-image:url('bellatorLogo.jpg');">
                  </div>
                <div class="column" style="font-size:1.7em;">
                  Hello
                </div>
                <div class="column flag-icon-background flag-icon-al"
                  style="opacity:0.3;z-index:-1;height: 100%;width:50%;background-position:center;
                  position: absolute;right:0;top:0;background-repeat: no-repeat;background-size:cover;">
                </div>
            </div>













            <h1 class="title has-text-light big-text">
                A <span class="has-text-primary">Website</span> that provides the exact <span class="has-text-primary">time</span>,
                regardless of <span class="has-text-primary">time zone</span>, of every <span class="has-text-primary">MMA Event</span>
            </h1>
            <h2 class="subtitle has-text-light">
                Primary bold subtitle
            </h2>


            <div class="flag-icon-background flag-icon-gr">
                Hello
                <!-- <span class="flag-icon flag-icon-gr"></span> -->
                <!-- <span class="flag-icon flag-icon-gr flag-icon-squared"></span> -->
            </div>
            <span class="flag-icon flag-icon-gr"></span>
            <span class="flag-icon flag-icon-gr flag-icon-squared"></span>

        </div>
    </div>


</section>

<section class="hero is-medium is-bold" style="padding-bottom:0;margin-bottom:0;">

    <!--    <form>-->
    <!--        <fieldset>-->
    <!--            <input type="checkbox" name="match" id="match_4" value="bacon">-->
    <!--            <label for="match_4">-->
    <!--                <svg class="circle" xmlns="http://www.w3.org/2000/svg"><g><ellipse class="background" ry="60" rx="60" cy="62.5" cx="62.5" stroke-width="2"/><ellipse class="foreground" ry="60" rx="60" cy="62.5" cx="62.5" stroke-width="2"/><line class="line line1" x1="52" y1="62" x2="74" y2="62" />   <line class="line line2" x1="52" y1="62" x2="74" y2="62" /></g></svg>-->
    <!--            </label>-->
    <!--        </fieldset>-->
    <!--        <button class="form__button" type="submit">Submit your info</button>-->
    <!--    </form>-->


    <div class="hero-body" style="padding-bottom:12px;margin-bottom:0;padding-top:15px;margin-top:0;">
        <div class="container" style="padding-left:11px;padding-right:11px;">

            <div class="work__list">

                <% results.forEach(function(result, key) { %>

                <div class="columns is-vcentered work__list-item" style="text-align:center;overflow: hidden;position: relative;" id='hiddendiv_<%= key %>'>


                    <div class="column clockDiv" style="font-size:1.7em;text-align:center;">
                        <iframe style="display:none;" onload="someFunction(
                            '<%=result.when.month %> <%= result.when.day %>, <%= result.when.year %> <%= result.when.hour %>:<%=result.when.minute %>:00',
                            '<%= key %>'
                            )"></iframe>

                        <div class="columns is-gapless is-multiline is-mobile clock" style="margin:0;" id="timer_<%= key %>">
                            <div class="column is-one-quarter clockP"><span id="timer-days_<%= key %>"></span>
                            </div>
                            <div class="column is-one-quarter has-text-grey-lighter clockP"><span id="timer-hours_<%= key %>"></span>
                            </div>
                            <div class="column is-one-quarter has-text-grey-light clockP"><span
                                    id="timer-mins_<%= key %>"></span>
                            </div>
                            <div class="column is-one-quarter has-text-grey clockP"><span
                                    id="timer-secs_<%= key %>"></span>
                            </div>

                            <div class="column is-one-quarter clockP time">DAY(S)
                            </div>
                            <div class="column is-one-quarter has-text-grey-lighter clockP time">HR(S)
                            </div>
                            <div class="column is-one-quarter has-text-grey-light clockP time">MIN(S)
                            </div>
                            <div class="column is-one-quarter has-text-grey clockP time">SEC(S)
                            </div>
                        </div>
                        <!--                            <p id="timer_<%= key %>" style="font-size:20px;">-->
                        <!--                                <span id="timer-days_<%= key %>"></span>-->
                        <!--                                <span id="timer-hours_<%= key %>"></span>-->
                        <!--                                <span id="timer-mins_<%= key %>"></span>-->
                        <!--                                <span id="timer-secs_<%= key %>"></span>-->
                        <!--                            </p>-->
                    </div>
                    <div class="column big-text is-two-fifths">
                        <!-- Add here the class to make effects on single column -->
                        <div class="" style="margin-bottom:20px;">
                            <% if (result.location.name && result.location.city && result.location.provState && result.location.country) { %>
                                <%= result.location.name %>, <%= result.location.city %>,
                                <%= result.location.provState %>, <%= result.location.country %>
                            <% } else if (result.location.name && result.location.city && !result.location.provState && result.location.country) { %>
                                <%= result.location.name %>, <%= result.location.city %>, <%= result.location.country %>
                            <% } %>
                        </div>
                        <h1 style="margin-bottom:20px;font-size:2em;">
                            <% if (result.event === result.otherName || result.otherName === undefined) { %>
                                <%= result.name %>
                            <% } else { %>
                                <%= result.otherName %>
                            <% } %>
                        </h1>
                        <div class=""><%= result.title %></div>
                    </div>


                    <% if (result.promotion === 'Ultimate Fighting Championship') { %>
                      <div class="column flag-icon-background flag-icon-<%= result.location.co %>"
                        style="opacity:0.2;z-index:-1;height: 100%;width:40%;
                        position: absolute;right:30%;top:0;background-size:35%;background-repeat:no-repeat;
                        background-position:center;background-image:url('1280px-UFC_logo.svg.png');">
                      </div>
                    <% } else if (result.promotion === 'Bellator') { %>
                      <div class="column flag-icon-background flag-icon-<%= result.location.co %>"
                        style="opacity:0.2;z-index:-1;height: 100%;width:40%;
                        position: absolute;right:30%;top:0;background-size:30%;background-repeat:no-repeat;
                        background-position:center;background-image:url('bellatorLogo.jpg');">
                      </div>
                    <% } %>
                    <!-- <div class="column flag-icon-background flag-icon-<%= result.location.co %>"
                      style="opacity:0.2;z-index:-1;height: 100%;width:40%;
                      position: absolute;right:30%;top:0;background-size:35% 35%;background-repeat:no-repeat;
                      background-position:center;background-image:url('1280px-UFC_logo.svg.png');">
                    </div> -->



                    <!-- <div class="column clockRight clockP time" style="font-size:1.7em;z-index:2;">
                      <%= result.when.weekDay %> <%= result.when.monthString %>
                          <%= result.when.day %>, <%= result.when.hour %>:<%= result.when.minute %><%=
                          result.when.AMPM %> <%= result.when.timeZone %>
                    </div> -->
                    <div class="column clockRight clockP time" style="font-size:1.7em;z-index:2;font-weight:600;">
                      <%= result.when.year %>-<%= result.when.monthString.substring(0,3).toUpperCase() %>-<%= result.when.day %>
                      <%= result.when.weekDay.substring(0,3).toUpperCase() %>
                      <%= result.when.hour %>:<%= result.when.minute %><%= result.when.AMPM %> <%= result.when.timeZone %>
                    </div>


                    <div class="column flag-icon-background flag-icon-<%= result.location.co %>"
                      style="opacity:0.4;z-index:1;height: 100%;width:30%;background-position:center;
                      position: absolute;right:0;top:0;background-repeat: no-repeat;background-size: cover;">
                    </div>


                    <!-- <div class="column flag-icon flag-icon-gr flag-icon-squared" style="background-color: rgb(30,122,212);z-index:3;
                    height: 100%;width:30%;position: absolute;right:0;top:0;"></div> -->
                </div>


                <div id="firsthiddendiv_<%= key %>" style="display: none;text-align:center;">

                    <% if (result.fightCard !== undefined || result.fightCard !== null || result.fightCard.length > 0) { %>
                        <% for (var i = 0; i < result.fightCard.length; i++) { %>
                            <% if (result.fightCard[i].length === 4 || result.fightCard[i].length === 5) { %>
                                <div class="columns is-vcentered" style="padding-bottom:15px;">
                                    <div class="column" style="color:black;font-size:1.7em;font-family: Work Sans;font-weight:300;"><%= result.fightCard[i][1] %></div>
                                    <div class="column is-two-fifths big-text" style="background-color:gray;">

                                        <h1 class="" style="font-size:1em;color:black;font-weight:200;">
                                            <%= result.fightCard[i][0] %>
                                        </h1>


                                    </div>
                                    <div class="column big-text" style="color:black;font-size:1.7em;font-family:Nunito;font-weight:300;"><%= result.fightCard[i][3] %></div>
                                </div>

                            <% } else if (result.fightCard[i].length > 5) { %>
                            <div class="columns is-vcentered" style="padding-bottom:15px;background-color:hsl(0, 0%, 96%);">
                                <% if (result.fightCard[i][2] === 2) { %>
                                    <div class="column" style="background-color:rgba(255, 0, 0, 0.6);color:black;font-size:1.7em;font-family: Work Sans;font-weight:300;"><%= result.fightCard[i][1] %></div>

                                <% } else if (result.fightCard[i][3].includes('Draw') || result.fightCard[i][3].includes('No Contest') || result.fightCard[i][3].includes('NC')) { %>
                                    <div class="column" style="background-color:rgba(211, 211, 211, 0.6);color:black;font-size:1.7em;font-family: Work Sans;font-weight:300;"><%= result.fightCard[i][1] %></div>

                                <% } else { %>
                                    <div class="column" style="background-color:rgba(0, 200, 150, 0.6);color:black;font-size:1.7em;font-family: Work Sans;font-weight:300;"><%= result.fightCard[i][1] %></div>

                                <% } %>

                                <div class="column is-two-fifths big-text">

                                    <h1 class="" style="font-size:1em;color:black;font-weight:200;">
                                            <%= result.fightCard[i][4] %><br>
                                            <%= result.fightCard[i][0] %><br>
                                            <%= result.fightCard[i][6] %> Round <%= result.fightCard[i][5] %>
                                    </h1>

                                </div>
                                <% if (result.fightCard[i][2] === 2) { %>
                                    <div class="column big-text" style="background-color:rgba(0, 200, 150, 0.6);color:black;font-size:1.7em;font-family:Nunito;font-weight:300;"><%= result.fightCard[i][3] %></div>

                                <% } else if (result.fightCard[i][3].includes('Draw') || result.fightCard[i][3].includes('No Contest') || result.fightCard[i][3].includes('NC')) { %>
                                    <div class="column big-text" style="background-color:rgba(211, 211, 211, 0.6);color:black;font-size:1.7em;font-family: Work Sans;font-weight:300;"><%= result.fightCard[i][3] %></div>

                                <% } else { %>
                                    <div class="column big-text" style="background-color:rgba(255, 0, 0, 0.6);color:black;font-size:1.7em;font-family:Nunito;font-weight:300;"><%= result.fightCard[i][3] %></div>

                                <% } %>


                            </div>
                            <% } %>


                        <% } %>

                    <% } %>
                    <!--<%= result.fightCard.length %>-->
                    <!--<%= result.fightCard %>-->
                </div>

                <% }); %>

            </div>



        </div>
    </div>
</section>


<section class="hero is-medium" style="background:#1B1924;">
    <div class="hero-body">
        <div class="container" style="width:60%;padding-left:7.5%;">

            <div class="columns is-multiline is-mobile">
                <div class="column is-one-quarter" style="color:#F4F4F4;line-height:60%;">
                    <span style="font-size:1.7em;">MMA</span><br>
                    <span style="font-size:0.7em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Countdown</span>
                </div>
                <div class="column is-one-quarter has-text-grey">
                    <h3 style="color:#48D3D4;">Location</h3>
                </div>
                <div class="column is-one-quarter has-text-grey-light">
                    <h3 style="color:#48D3D4;">Contact</h3>
                </div>
                <div class="column is-one-quarter has-text-grey-lighter">
                    <h3 style="color:#48D3D4;">Legal</h3>
                </div>

                <div class="column is-one-quarter vertical-align-text-div" style="color:#F4F4F4;line-height:80%;">
                <div class="vertical-align-text-p">
                    <span style="font-size:0.7em;">© All Rights Reserved 2019</span><br>
                    <span style="font-size:0.7em;">MMA Countdown</span>
                </div>
                </div>
                <div class="column is-one-quarter has-text-grey">
                        <a class="underline--magical" target="_blank"
                           href="put_location_google_maps" style="text-decoration: none;color: #fff;">
                            A Student House</br>
                            Hamilton, Canada</a>
                </div>
                <div class="column is-one-quarter has-text-grey-light">
                    <a class="link" target="_blank" href="tel:XXX-XXX-XXXX" style="color:#F4F4F4;">XXX-XXX-XXXX</a> </br>
                    <a class="link" target="_blank" href="mailto:XXX@XXXXXXXX.XXX?subject=General Inquiry" style="color:#F4F4F4;">XXX@XXXXXXXX.XXX</a>
                </div>
                <div class="column is-one-quarter has-text-grey-lighter">
                    <a class="link" href="/terms-privacy" style="color:#F4F4F4;">Terms &amp; Privacy</a>
                </div>
            </div>


        </div>
    </div>
</section>


</body>
</html>
